__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

*/migrations/__pycache__/

venv/
.venv/
.env
.env.*

.vscode/
.idea/
*.swp
*.swo

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
Desktop.ini
