# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*

# =========================
# Django
# =========================
db.sqlite3
*.log
staticfiles/

# migrations 캐시는 올리되, pycache는 제외
**/migrations/__pycache__/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# PyCharm
# =========================
*.iml
